<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
=======
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
>>>>>>> 923b6f23b10f9ecf45fd263848161083623183a4
